{% load static %}
<!DOCTYPE html><html lang="en">

<head>
    <meta charset="utf-8">
    <title>DeepFakeDetection</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">
    
    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Raleway:wght@600;800&display=swap" rel="stylesheet"> 
    
    <!-- Icon Font Stylesheet -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">
    
    <!-- Libraries Stylesheet -->
    <link href="{% static 'user/lib/lightbox/css/lightbox.min.css' %}" rel="stylesheet">
<link href="{% static 'user/lib/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
    
    
    <!-- Customized Bootstrap Stylesheet -->
<link href="{% static 'user/css/bootstrap.min.css' %}" rel="stylesheet">
<link href="{% static 'user/css/style.css' %}" rel="stylesheet">


    <style>
       
    </style>
</head>

<body>
    
    <!-- Spinner Start -->
    <div id="spinner" class="show w-100 vh-100 bg-white position-fixed translate-middle top-50 start-50  d-flex align-items-center justify-content-center">
        <div class="spinner-grow text-primary" role="status"></div>
    </div>
    <!-- Spinner End -->
    
    
    <!-- Navbar start -->
    <div class="container-fluid fixed-top">
        <div class="container topbar bg-primary d-none d-lg-block">
            <div class="d-flex justify-content-between">
                
                <div class="top-link pe-2">
                    <a href="#" class="text-white"><small class="text-white mx-2">Privacy Policy</small>/</a>
                    <a href="#" class="text-white"><small class="text-white mx-2">Terms of Use</small>/</a>
                    
                </div>
            </div>
        </div>
        <div class="container px-0">
            <nav class="navbar navbar-light bg-white navbar-expand-xl">
                <a href="{% url 'index' %}" class="navbar-brand"><h1 class="text-primary display-6">DeepFakeDetection</h1></a>
                <button class="navbar-toggler py-2 px-3" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                    <span class="fa fa-bars text-primary"></span>
                </button>
                <div class="collapse navbar-collapse bg-white" id="navbarCollapse">
                    <div class="navbar-nav mx-auto">
                        <a href="{% url 'index' %}" class="nav-item nav-link ">Home</a>
                        <!-- <a href="shop.html" class="nav-item nav-link">User</a> -->
                        <a href="{% url 'admin_login' %}" class="nav-item nav-link active">Admin</a>
                        <a href="{% url 'about' %}" class="nav-item nav-link">About</a>
                        <a href="{% url 'contact' %}" class="nav-item nav-link">Contact</a>
                    </div>
                    <div class="d-flex m-3 me-0">
                        <a href="{% url 'user_login' %}" class="position-relative me-4 my-auto"><button class="btn btn-success mx-2 my-btn">SignIn</button></a>
                        <a href="{% url 'register' %}" class="position-relative me-4 my-auto"><button class="btn btn-success mx-2 my-btn">SignUp</button></a>
                    </div>
                </div>
            </nav>
        </div>
    </div>
    <!-- Navbar End -->
    
   
    
    <section class="container-fluid p-5 col-9 " style="background-color: rgba(21, 115, 71,.6); margin-top: 100px;">
        <div class="col-lg-6 col-md-10 mx-auto mt-5">
            <div class="card card-default mb-0">
                <div class="card-header pb-0">
                    <div class="app-brand w-100 d-flex justify-content-center border-bottom-0">
                        <h1 class="text-primary display-6">DeepFakeDetection</h1>    
                    </div>
                </div>
                <div class="card-body px-5 pb-5 pt-0">
                    
                    <h2 class=" mb-6 text-center mt-3 ">Admin Login</h2>
                    
                    <form action="" class="col-12 mx-auto mt-4" method="post" enctype="multipart/form-data">  
                       {% csrf_token %}  
                        <div class="row">
                            <div class="form-group col-md-12 mb-4">
                                <input type="text" class="form-control input-lg" id="text" aria-describedby=""
                                placeholder="Username" name="name">
                            </div>
                            <div class="form-group col-md-12  mb-3">
                                <input type="password" class="form-control input-lg" id="password" placeholder="Password" name="password">
                            </div>
                            <div class="col-md-12">
                                
                                <div class="d-flex justify-content-between mb-3">
                                    
                                    <div class="custom-control custom-checkbox mr-3 mb-3">
                                        <input type="checkbox" class="custom-control-input" id="customCheck2" name="remember_me">
                                        <label class="custom-control-label" for="customCheck2">Remember me</label>
                                    </div>
                                    
                                    <a class="text-color" href="#"> Forgot password? </a>
                                    
                                </div>
                                
                                <button type="submit" class="btn btn-info btn-pill mb-4 col-12">Login</button>
                                
                            </div>
                        </div>
                    </form>
                </div>
                
            </div>
        </div>
        
      </section>
    
    <!-- Footer Start -->
    <div class="container-fluid bg-dark text-white-50 footer pt-5 ">
        <div class="container py-5">
            <div class="pb-4 mb-4" style="border-bottom: 1px solid rgba(226, 175, 24, 0.5) ;">
                <div class="row g-4">
                    <div class="col-lg-3">
                        <a href="#">
                            <h1 class="text-primary mb-0">DeepFakeDetection</h1>
                            <p class="text-secondary mb-0">Deep fake detection</p>
                        </a>
                    </div>
                    
                </div>
            </div>
            <div class="row g-5">
                <div class="col-md-6">
                    <div class="footer-item">
                        <h4 class="text-light mb-3">Why Choose Our Fake Detection Services?</h4>
                        <p class="mb-4">Our advanced fake detection services are crafted to ensure the highest accuracy in identifying manipulated content. We leverage cutting-edge technology to safeguard your media and provide trustworthy analysis. Choose us for reliable solutions in combating digital misinformation.</p>
                        <a href="#" class="btn border-secondary py-2 px-4 rounded-pill text-primary">Explore Our Services</a>
                    </div>
                    
                    </div>
                    <div class="col-md-3">
                        <div class="d-flex flex-column text-start footer-item">
                            <h4 class="text-light mb-3">Usefull Links</h4>
                            <a class="btn-link" href="">Home</a>
                            <a class="btn-link" href="">Admin</a>
                            <a class="btn-link" href="">About</a>
                            <a class="btn-link" href="">Contact</a>
                        </div>
                    </div>
                    
                    <div class="col-md-3">
                        <div class="footer-item">
                            <h4 class="text-light mb-3">Contact</h4>
                            <p>Address:Lb Nagar </p>
                            <p>info@codebook.in</p>
                            <p>+91 8555 8879 86</p>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer End -->
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        
        <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
        {% if messages %}              
        {% for message in messages %}
        {% if message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
        <script>swal({
            title: "Warning!",
            text: "{{message}}",
            icon: "warning",
            button: "OK",
        });
    </script>
    
    {% elif message.level == DEFAULT_MESSAGE_LEVELS.INFO %}
    <script>swal({
        title: "Info :)",
        text: "{{message}}",
        icon: "info",
        button: "OK",
    });
</script>
{% elif message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
<script>swal({
    title: "Error :)",
    text: "{{message}}",
    icon: "error",
    button: "OK",
});
</script>
{% elif message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
<script>swal({
    title: "Success :)",
    text: "{{message}}",
    icon: "success",
    button: "OK",
});
</script>
{% endif %}              
{% endfor %} 
{% endif %}
        <!-- Copyright Start -->
        <div class="container-fluid copyright bg-dark py-4">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                        <span class="text-light"><a href="#"><i class="fas fa-copyright text-light me-2"></i>Codebook</a>, All right reserved.</span>
                    </div>
                    <div class="col-md-6 my-auto text-center text-md-end text-white">
                        Designed And <a class="border-bottom" href="https://codebook.in"></a> Distributed By <a class="border-bottom" href="https://codebook.in">Codebook</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Copyright End -->
        
        
        
        <!-- Back to Top -->
        <a href="#" class="btn btn-primary border-3 border-primary rounded-circle back-to-top"><i class="fa fa-arrow-up"></i></a>   
        
        
        <!-- JavaScript Libraries -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
        <script src="{% static 'user/lib/easing/easing.min.js' %}"></script>

        <script src="{% static 'user/lib/waypoints/waypoints.min.js' %}"></script>

        <script src="{% static 'user/lib/lightbox/js/lightbox.min.js' %}"></script>

        <script src="{% static 'user/lib/owlcarousel/owl.carousel.min.js' %}"></script>

        
        <!-- Template Javascript -->
        <script src="{% static 'user/js/main.js' %}"></script>

    </body>
    
    </html>