{% load static %}
<!DOCTYPE html><html lang="en">

<head>
    <meta charset="utf-8">
    <title>DeepFakeDetection</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">
    
    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Raleway:wght@600;800&display=swap" rel="stylesheet"> 
    
    <!-- Icon Font Stylesheet -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">
    
    <!-- Libraries Stylesheet -->
    <link href="{% static 'user/lib/lightbox/css/lightbox.min.css' %}" rel="stylesheet">
    <link href="{% static 'user/lib/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
    
    
    <!-- Customized Bootstrap Stylesheet -->
    <link href="{% static 'user/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'user/css/style.css' %}" rel="stylesheet">
    
    
    <style>
        .service-item img {
            height: 300px;
            object-fit: cover;
        }
        
        .border .vesitable-img{
            height: 200px;
            object-fit: cover;
            
        }
    </style>
</head>

<body>
    
    <!-- Spinner Start -->
    <div id="spinner" class="show w-100 vh-100 bg-white position-fixed translate-middle top-50 start-50  d-flex align-items-center justify-content-center">
        <div class="spinner-grow text-primary" role="status"></div>
    </div>
    <!-- Spinner End -->
    
    
    <!-- Navbar start -->
    <div class="container-fluid fixed-top">
        <div class="container topbar bg-primary d-none d-lg-block">
            <div class="d-flex justify-content-between">
                
                <div class="top-link pe-2">
                    <a href="#" class="text-white"><small class="text-white mx-2">Privacy Policy</small>/</a>
                    <a href="#" class="text-white"><small class="text-white mx-2">Terms of Use</small>/</a>
                    
                </div>
            </div>
        </div>
        <div class="container px-0">
            <nav class="navbar navbar-light bg-white navbar-expand-xl">
                <a href="{% url 'index' %}" class="navbar-brand"><h1 class="text-primary display-6">DeepFakeDetection</h1></a>
                <button class="navbar-toggler py-2 px-3" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                    <span class="fa fa-bars text-primary"></span>
                </button>
                <div class="collapse navbar-collapse bg-white" id="navbarCollapse">
                    <div class="navbar-nav mx-auto">
                        <a href="#" class="nav-item nav-link active">Home</a>
                      <!--  <a href="{% url 'admin_login' %}" class="nav-item nav-link">Admin</a>
                        <a href="{% url 'about' %}" class="nav-item nav-link">About</a>
                        <a href="{% url 'contact' %}" class="nav-item nav-link">Contact</a>-->
                    </div>
                    <div class="d-flex m-3 me-0">
                        <a href="{% url 'user_login' %}" class="position-relative me-4 my-auto"><button class="btn btn-success mx-2 my-btn">SignIn</button></a>
                        <a href="{% url 'register' %}" class="position-relative me-4 my-auto"><button class="btn btn-success mx-2 my-btn">SignUp</button></a>
                    </div>
                </div>
            </nav>
        </div>
    </div>
    <!-- Navbar End -->
    
    
    <!-- Modal Search Start -->
    <div class="modal fade" id="searchModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-fullscreen">
            <div class="modal-content rounded-0">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Search by keyword</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body d-flex align-items-center">
                    <div class="input-group w-75 mx-auto d-flex">
                        <input type="search" class="form-control p-3" placeholder="keywords" aria-describedby="search-icon-1">
                        <span id="search-icon-1" class="input-group-text p-3"><i class="fa fa-search"></i></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal Search End -->
    
    
    <!-- Hero Start -->
    <div class="container-fluid py-5 mb-5 hero-header">
        <div class="container py-5">
            <div class="row g-5 align-items-center">
                <div class="col-md-12 col-lg-7">
                    <h4 class="mb-3 text-secondary">DeepFake Detection System</h4>
                    <h1 class="mb-5 display-3 text-primary">Verify Media Authenticity</h1>
                    <div class="position-relative mx-auto">
                        <input class="form-control border-2 border-secondary w-75 py-3 px-4 rounded-pill" type="file" placeholder="Upload or Enter Media URL">
                        <button type="submit" class="btn btn-primary border-2 border-secondary py-3 px-4 position-absolute rounded-pill text-white h-100" style="top: 0; right: 25%;">Detect Now</button>
                    </div>
                </div>
                
                <div class="col-md-12 col-lg-5">
                    <div id="carouselId" class="carousel slide position-relative" data-bs-ride="carousel">
                        <div class="carousel-inner" role="listbox">
                            <div class="carousel-item active rounded">
                                <img src="{% static 'user/img/df1.jpg' %}" class="img-fluid bg-secondary rounded" alt="First slide">

                                <a href="#" class="btn px-4 py-2 text-white rounded">Photos</a>
                            </div>
                            <div class="carousel-item rounded">
                                <img src="{% static 'user/img/df2.jpg' %}" class="img-fluid rounded" alt="Second slide">

                                <a href="#" class="btn px-4 py-2 text-white rounded">Videos</a>
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselId" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselId" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Hero End -->
    
    <!-- Vesitable Shop Start-->
    <div class="container-fluid vesitable">
        <div class="container py-5">
            <h1 class="mb-0">Explore Fake Detection Services</h1>
            <div class="owl-carousel vegetable-carousel justify-content-center">
                
                <!-- Service Card 1 -->
                <div class="border border-primary rounded position-relative vesitable-item">
                    <div class="vesitable-img">
                        <img src="{% static 'user/img/df3.avif' %}" class="img-fluid w-100 rounded-top" alt="DeepFake Image">

                    </div>
                    <div class="text-white bg-primary px-3 py-1 rounded position-absolute" style="top: 10px; right: 10px;">Service</div>
                    <div class="p-4 rounded-bottom">
                        <h4>DeepFake Image Analysis</h4>
                        <p>Explore anomalies and detect potential instances of DeepFake manipulation in images.</p>
                        <div class="d-flex justify-content-between flex-lg-wrap">
                            <a href="#" class="btn border border-secondary rounded-pill px-3 text-primary"><i class="fa fa-compass me-2 text-primary"></i> Get Analysis</a>
                        </div>
                    </div>
                </div>
                
                <!-- Service Card 2 -->
                <div class="border border-primary rounded position-relative vesitable-item">
                    <div class="vesitable-img">
                        <img src="{% static 'user/img/df4.jpeg' %}" class="img-fluid w-100 rounded-top" alt="DeepFake Video">

                    </div>
                    <div class="text-white bg-primary px-3 py-1 rounded position-absolute" style="top: 10px; right: 10px;">Service</div>
                    <div class="p-4 rounded-bottom">
                        <h4>DeepFake Video Detection</h4>
                        <p>Prevent manipulation and secure your media with our advanced DeepFake video detection services.</p>
                        <div class="d-flex justify-content-between flex-lg-wrap">
                            <a href="#" class="btn border border-secondary rounded-pill px-3 text-primary"><i class="fa fa-compass me-2 text-primary"></i> Get Detection</a>
                        </div>
                    </div>
                </div>
                
                <!-- Service Card 3 -->
                <div class="border border-primary rounded position-relative vesitable-item">
                    <div class="vesitable-img">
                        <img src="{% static 'user/img/df5.avif' %}" class="img-fluid w-100 rounded-top" alt="DeepFake Prevention">

                    </div>
                    <div class="text-white bg-primary px-3 py-1 rounded position-absolute" style="top: 10px; right: 10px;">Service</div>
                    <div class="p-4 rounded-bottom">
                        <h4>DeepFake Prevention Tools</h4>
                        <p>Secure your media and prevent DeepFake manipulation using our advanced prevention tools.</p>
                        <div class="d-flex justify-content-between flex-lg-wrap">
                            <a href="#" class="btn border border-secondary rounded-pill px-3 text-primary"><i class="fa fa-compass me-2 text-primary"></i> Get Prevention</a>
                        </div>
                    </div>
                </div>
                
                <!-- Service Card 4 -->
                <div class="border border-primary rounded position-relative vesitable-item">
                    <div class="vesitable-img">
                        <img src="{% static 'user/img/df6.avif' %}" class="img-fluid w-100 rounded-top" alt="DeepFake Prevention">

                    </div>
                    <div class="text-white bg-primary px-3 py-1 rounded position-absolute" style="top: 10px; right: 10px;">Service</div>
                    <div class="p-4 rounded-bottom">
                        <h4>DeepFake Prevention Tools</h4>
                        <p>Secure your media and prevent DeepFake manipulation using our advanced prevention tools.</p>
                        <div class="d-flex justify-content-between flex-lg-wrap">
                            <a href="#" class="btn border border-secondary rounded-pill px-3 text-primary"><i class="fa fa-compass me-2 text-primary"></i> Get Prevention</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <!-- Vesitable Shop End -->
    <!-- Featurs Section Start -->
    <div class="container-fluid featurs py-5">
        <div class="container py-5">
            <div class="row g-4">
                <div class="col-md-6 col-lg-3">
                    <div class="featurs-item text-center rounded bg-light p-4">
                        <div class="featurs-icon btn-square rounded-circle bg-secondary mb-5 mx-auto">
                            <i class="fas fa-eye fa-3x text-white"></i>
                        </div>
                        <div class="featurs-content text-center">
                            <h5>Media Analysis</h5>
                            <p class="mb-0">Advanced analysis for deep fake detection</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="featurs-item text-center rounded bg-light p-4">
                        <div class="featurs-icon btn-square rounded-circle bg-secondary mb-5 mx-auto">
                            <i class="fas fa-lock fa-3x text-white"></i>
                        </div>
                        <div class="featurs-content text-center">
                            <h5>Data Security</h5>
                            <p class="mb-0">Encrypted and secure data handling</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="featurs-item text-center rounded bg-light p-4">
                        <div class="featurs-icon btn-square rounded-circle bg-secondary mb-5 mx-auto">
                            <i class="fas fa-shield-alt fa-3x text-white"></i>
                        </div>
                        <div class="featurs-content text-center">
                            <h5>DeepFake Prevention</h5>
                            <p class="mb-0">Robust measures to prevent deep fake infiltration</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="featurs-item text-center rounded bg-light p-4">
                        <div class="featurs-icon btn-square rounded-circle bg-secondary mb-5 mx-auto">
                            <i class="fa fa-headset fa-3x text-white"></i>
                        </div>
                        <div class="featurs-content text-center">
                            <h5>24/7 Detection Support</h5>
                            <p class="mb-0">Continuous monitoring</p>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    <!-- Featurs Section End -->
    
    <!-- Fake Detection Banner Section Start -->
    <div class="container-fluid banner bg-secondary my-5">
        <div class="container py-5">
            <div class="row g-4 align-items-center">
                <div class="col-lg-6">
                    <div class="py-4">
                        <h1 class="display-3 text-white">Advanced DeepFake Detection</h1>
                        <p class="fw-normal display-3 text-dark mb-4">Protecting Your Media</p>
                        <p class="mb-4 text-dark">Empower your content security with our cutting-edge DeepFake detection services. Our advanced algorithms ensure real-time identification and prevention of manipulated media.</p>
                        <a href="#" class="banner-btn btn border-2 border-white rounded-pill text-dark py-3 px-5">EXPLORE</a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="position-relative">
                        <img src="{% static 'user/img/df7.avif' %}" class="img-fluid w-100 rounded" alt="DeepFake Detection Banner">

                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Fake Detection Banner Section End -->
    
    
    
    
    <!-- Featurs Start -->
    <div class="container-fluid service py-5">
        <div class="container py-5">
            <div class="row g-4 justify-content-center">
                <div class="col-md-6 col-lg-4">
                    <a href="#">
                        <div class="service-item bg-danger rounded border border-danger">
                            <img src="{% static 'user/img/df3.avif' %}" class="img-fluid rounded-top w-100" alt="DeepFake Image">

                            <div class="px-4 rounded-bottom">
                                <div class="service-content bg-warning text-center p-4 rounded">
                                    <h5 class="text-dark">DeepFake Image Analysis</h5>
                                    <!-- <h3 class="mb-0">Explore Anomalies</h3> -->
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-6 col-lg-4">
                    <a href="#">
                        <div class="service-item bg-dark rounded border border-dark">
                            <img src="{% static 'user/img/df4.jpeg' %}" class="img-fluid rounded-top w-100" alt="DeepFake Video">

                            <div class="px-4 rounded-bottom">
                                <div class="service-content bg-light text-center p-4 rounded">
                                    <h5 class="text-primary">DeepFake Video Detection</h5>
                                    <!-- <h3 class="mb-0">Prevent Manipulation</h3> -->
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-6 col-lg-4">
                    <a href="#">
                        <div class="service-item bg-warning rounded border border-warning">
                            <img src="{% static 'user/img/df5.avif' %}" class="img-fluid rounded-top w-100" alt="DeepFake Prevention">

                            <div class="px-4 rounded-bottom">
                                <div class="service-content bg-danger text-center p-4 rounded">
                                    <h5 class="text-dark">DeepFake Prevention Tools</h5>
                                    <!-- <h3 class="mb-0">Secure Your Media</h3> -->
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                
            </div>
        </div>
    </div>
    <!-- Featurs End -->
    
    <!-- Animated Fact Start -->
    <div class="container-fluid py-5">
        <div class="container">
            <div class="bg-light p-5 rounded">
                <div class="row g-4 justify-content-center">
                    <div class="col-md-6 col-lg-6 col-xl-3">
                        <div class="counter bg-white rounded p-5">
                            <i class="fa fa-users text-secondary"></i>
                            <h4>Satisfied Customers</h4>
                            <h1 class="rolling-number" data-target="1963">220</h1>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-6 col-xl-3">
                        <div class="counter bg-white rounded p-5">
                            <i class="fa fa-users text-secondary"></i>
                            <h4>Quality of Service</h4>
                            <h1 class="rolling-number" data-target="99">100</h1>
                            <span>%</span>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-6 col-xl-3">
                        <div class="counter bg-white rounded p-5">
                            <i class="fa fa-users text-secondary"></i>
                            <h4>Quality Certificates</h4>
                            <h1 class="rolling-number" data-target="33">20</h1>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-6 col-xl-3">
                        <div class="counter bg-white rounded p-5">
                            <i class="fa fa-users text-secondary"></i>
                            <h4>Available Products</h4>
                            <h1 class="rolling-number" data-target="789">20</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Animated Fact End -->
    
    
    
    
    <!-- Footer Start -->
    <div class="container-fluid bg-dark text-white-50 footer pt-5 mt-5">
        <div class="container py-5">
            <div class="pb-4 mb-4" style="border-bottom: 1px solid rgba(226, 175, 24, 0.5) ;">
                <div class="row g-4">
                    <div class="col-lg-3">
                        <a href="#">
                            <h1 class="text-primary mb-0">DeepFakeDetection</h1>
                            <p class="text-secondary mb-0">Deep fake detection</p>
                        </a>
                    </div>
                    
                </div>
            </div>
            <div class="row g-5">
                <div class="col-md-6">
                    <div class="footer-item">
                        <h4 class="text-light mb-3">Why Choose Our Fake Detection Services?</h4>
                        <p class="mb-4">Our advanced fake detection services are crafted to ensure the highest accuracy in identifying manipulated content. We leverage cutting-edge technology to safeguard your media and provide trustworthy analysis. Choose us for reliable solutions in combating digital misinformation.</p>
                        <a href="#" class="btn border-secondary py-2 px-4 rounded-pill text-primary">Explore Our Services</a>
                    </div>
                    
                </div>
                <div class="col-md-3">
                    <div class="d-flex flex-column text-start footer-item">
                        <h4 class="text-light mb-3">Usefull Links</h4>
                        <a class="btn-link" href="">Home</a>
                        <a class="btn-link" href="">Admin</a>
                        <a class="btn-link" href="">About</a>
                        <a class="btn-link" href="">Contact</a>
                    </div>
                </div>
                
                <div class="col-md-3">
                    <div class="footer-item">
                        <h4 class="text-light mb-3">Contact</h4>
                        <p>Address:Lb Nagar </p>
                        <p>info@codebook.in</p>
                        <p>+91 8555 8879 86</p>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer End -->
    
    <!-- Copyright Start -->
    <div class="container-fluid copyright bg-dark py-4">
        <div class="container">
            <div class="row">
                <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                    <span class="text-light"><a href="#"><i class="fas fa-copyright text-light me-2"></i>Codebook</a>, All right reserved.</span>
                </div>
                <div class="col-md-6 my-auto text-center text-md-end text-white">
                    Designed And <a class="border-bottom" href="https://codebook.in"></a> Distributed By <a class="border-bottom" href="https://codebook.in">Codebook</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Copyright End -->
    
    
    
    <!-- Back to Top -->
    <a href="#" class="btn btn-primary border-3 border-primary rounded-circle back-to-top"><i class="fa fa-arrow-up"></i></a>   
    
    
    <!-- JavaScript Libraries -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{% static 'user/lib/easing/easing.min.js' %}"></script>

    <script src="{% static 'user/lib/waypoints/waypoints.min.js' %}"></script>

    <script src="{% static 'user/lib/lightbox/js/lightbox.min.js' %}"></script>

    <script src="{% static 'user/lib/owlcarousel/owl.carousel.min.js' %}"></script>

    
    <!-- Template Javascript -->
    <script src="{% static 'user/js/main.js' %}"></script>

</body>

</html>